.botones {
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.botonRestaurar {
    font-size: xx-small;
    background-color: pink;
}

.botonLogin {
    font-size: larger;
}

.formulario {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 255, 72);
}




.LoginForm {

    height: 80vh;
    width: 100vw;

    background-color: lightgrey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}