.LoginForm2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .formAppointments {
    width: 20em auto;
    padding: 1em;
    color: rgb(4, 4, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */